<div class="container">
  <!-- <a routerLink="/home">Go to Home Page</a> -->
  <button (click)="navigateToHome()">Go to Home Page</button>
  <div class="heading_container">
    <h2>About Us</h2>
  </div>
  <div class="para">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repudiandae veritatis ea ullam ipsum eveniet autem corporis! Quaerat non ipsa doloremque, vitae deserunt sint consectetur blanditiis nulla voluptatibus eaque quisquam autem laboriosam ratione, recusandae tenetur repellendus hic obcaecati iusto accusantium. Animi aut nemo deserunt error esse minus laborum repudiandae enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repudiandae veritatis ea ullam ipsum eveniet autem corporis! Quaerat non ipsa doloremque, vitae deserunt sint consectetur blanditiis nulla voluptatibus eaque quisquam autem laboriosam ratione, recusandae tenetur repellendus hic obcaecati iusto accusantium. Animi aut nemo deserunt error esse minus laborum repudiandae enim.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repudiandae veritatis ea ullam ipsum eveniet autem corporis! Quaerat non ipsa doloremque, vitae deserunt sint consectetur blanditiis nulla voluptatibus eaque quisquam autem laboriosam ratione, recusandae tenetur repellendus hic obcaecati iusto accusantium. Animi aut nemo deserunt error esse minus laborum repudiandae enim.</p>
  </div>
</div>