.container {
  text-align: center;
  /* margin: 60px 5px; */
  border-bottom: 3px solid gray;
}
.heading_container {
  border-bottom: 3px solid gray;
  margin-bottom: 20px;
}
.courses_container {
  /* border: 1px solid red; */

  width: 300px;
  height: 400px;
  margin: 20px ;
  display: flex;
  /* justify-content: space-between; */
}
.course {
  width: 250px;
  height: 400px;
  /* border: 1px solid brown; */
  text-align: center;
  padding: 30px;
  box-shadow: 2px -2px 5px 5px rgb(185, 183, 183);
}
button {
  width: 200px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0px;
  background-color: rgb(206, 208, 208);
}
