<div class="main_container">
  <div class="h1_container">
    <h1>Learn Software Courses Online for Free</h1>
  </div>
  <h2 style="text-align: center; border-bottom: 3px solid gray;">Popular Courses</h2>
  <div class="courses_container">
    <div class="course">
      <h3 style="margin: 40px 0px;">Angular Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
    <div class="course">
      <h3 style="margin: 40px 0px;">UX Design Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
    <div class="course">
      <h3 style="margin: 40px 0px;">Advance UX Course</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores vero delectus aut similique, itaque ratione.</p>
      <button>View Details</button>
    </div>
  </div>
</div>